button {
    border-radius: var(--roundedSM);
    padding: var(--spaceXMD);
    cursor: pointer;
    color: var(--background);
}
button {
    background: var(--primary);
}
button[data-variant="destructive"], button[data-slot="dialog-close"] {
    background: var(--danger);
}
button:hover {
    transform: scale(1.075);
}
.container button {
    background: var(--secondary);
}