@import "tailwindcss";

:root {
  --background: #f9f8ff;
  --foreground: #171717;

  --white: #fff;
  --grey: #dbdee4;
  --darkGrey: #9b9b9b;
  --primary: #445ece;
  --primaryShadow: #00359c;

  --secondary: #ff8b73;
  --warning: #ffc25c;
  --danger: #c5283f;
  --success: #1dc198;

  /* Typography */
  --textJumbo : 32px;
  --textXLG : 26px;
  --textLG : 22px;
  --textXMD : 20px;
  --textMD : 16px;
  --textSM : 14px;
  --textXSM : 12px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedXLG : 26px;
  --roundedLG : 22px;
  --roundedMD : 18px;
  --roundedSM : 14px;

  /* Spacing */
  --spaceJumbo : 36px;
  --spaceXLG : 30px;
  --spaceLG : 26px;
  --spaceXMD : 20px;
  --spaceMD : 16px;
  --spaceSM : 14px;
  --spaceXSM : 10px;
  --spaceXXSM : 8px;
  --spaceMini : 2px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: var(--background);
  background: var(--primary);
  padding: var(--spaceLG);
  border-radius: var(--roundedLG);
  border: var(--spaceMini) solid var(--primaryShadow);
  border-bottom: var(--spaceMD) solid var(--primaryShadow);
}
.container label {
  color: var(--white);
}

.bg-secondary{
  background: var(--secondary);
}
.bg-warning{
  background: var(--warning);
}
.bg-danger{
  background: var(--danger);
}
.bg-success{
  background: var(--success);
}

footer {
  background: var(--white);
}

.box-bordered {
  padding: var(--spaceLG);
  border: 1.5px solid var(--grey);
  border-radius: var(--roundedLG);
}