h1 {
    font-size: var(--textJumbo);
    font-weight: 800;
    letter-spacing: 1.75px;
}
h1.title-huge {
    font-size: calc(var(--textJumbo)*2);
}
h2 {
    font-size: var(--textXLG);
    font-weight: 700;
    letter-spacing: 1.5px;
}
h3 {
    font-size: var(--textLG);
    font-weight: 600;
    letter-spacing: 1.25px;
}
h4 {
    font-size: var(--textXMD);
    font-weight: 500;
    letter-spacing: 1px;
}
label {
    color: var(--darkGrey);
}
.box-bordered label {
    color: #000;
}
.text-primary {
    color: var(--primary);
}
.sub-content {
    font-size: var(--textXSM);
}
p[data-slot="form-message"] {
    font-style: italic;
}